body{
    background-color: #363636;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock {
    margin-top: 200px;
    font-size: 100px;
    color: #fff;
    background-color: #181818;
    border-radius: 10px;
}

button {
    color: #fff;
    font-size: 20px;
    flex-wrap: wrap;
    background-color: #181818;
    border-radius: 10px
}